name: CI + Scan + Build Docker Image

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  # --------------------------------
  # 1. Build & Test (CI)
  # --------------------------------
  # Build-and-test-npm-package:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v5
  #       with:
  #         node-version: 20
  #         cache: npm

  #     - name: Install dependencies
  #       run: npm ci

  #     - name: Build
  #       run: npm run build

  #     - name: Test
  #       run: npm test

  # --------------------------------
  # 2. Code Scan (SAST)
  # --------------------------------
  # CodeQL-scan:
  #   needs: [Build-and-test-npm-package]
  #   runs-on: ubuntu-latest

  #   permissions:
  #     security-events: write
  #     contents: read

  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5

  #     - name: Initialize CodeQL
  #       uses: github/codeql-action/init@v4
  #       with:
  #         languages: javascript

  #     - name: Autobuild
  #       uses: github/codeql-action/autobuild@v4

  #     - name: Analyze
  #       uses: github/codeql-action/analyze@v4

  # --------------------------------
  # 3. Build & Push Docker Image
  # --------------------------------
  Build-and-push-Docker-image:
    # needs: [CodeQL-scan]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to OCI Container Registry
        uses: docker/login-action@v3
        with:
            registry: ${{ secrets.OCI_REGISTRY }}
            username: ${{ secrets.OCI_NAMESPACE }}/${{ secrets.OCI_USERNAME }}
            password: ${{ secrets.OCI_AUTH_TOKEN }}

      # - name: Build and push Docker image
      #   uses: docker/build-push-action@v5
      #   with:
      #       context: .
      #       push: true
      #       tags: |
      #           ${{ secrets.OCI_REGISTRY }}/${{ secrets.OCI_NAMESPACE }}/${{ secrets.OCI_REPO }}:latest
      #           ${{ secrets.OCI_REGISTRY }}/${{ secrets.OCI_NAMESPACE }}/${{ secrets.OCI_REPO }}:${{ github.sha }}
      
      # Pusing CVE image to OCI registry
      - name: Pull source image
        run: docker pull blueteamsteve/cve-2021-41773:no-cgid

      - name: Tag image for OCI
        run: |
          docker tag blueteamsteve/cve-2021-41773:no-cgid ${{ secrets.OCI_REGISTRY }}/${{ secrets.OCI_NAMESPACE }}/sample-repo:cve-latest

      - name: Push to OCI
        run: |
          docker push ${{ secrets.OCI_REGISTRY }}/${{ secrets.OCI_NAMESPACE }}/sample-repo:cve-latest

      # Pushing CVE image to GH 
      - name: Login to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull source image
        run: docker pull blueteamsteve/cve-2021-41773:no-cgid

      - name: Tag image for GitHub
        run: |
          docker tag blueteamsteve/cve-2021-41773:no-cgid ghcr.io/${{ github.repository }}:cve-latest

      - name: Push to GitHub
        run: |
          docker push ghcr.io/${{ github.repository }}:cve-latest

  # --------------------------------
  # 4. Image Scan (Container Scan)
  # --------------------------------
  Trivy-image-scan:
    needs: [Build-and-push-Docker-image]
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      security-events: write

    steps:
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ghcr.io/${{ github.repository }}:cve-latest
          format: sarif
          output: sample-output.sarif
          severity: CRITICAL,HIGH

      - name: Upload Trivy scan results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: sample-output.sarif